/* --colors: #8bc34a, #9c27b0,#3f51b5,#00bcd4,#009688,#FFCA3A,#c8b7e5,#231F20 */
/* #5ce1e6, #ffbd59,#cb6ce6,#004aad, #ff914d*/

.card {
    height: 14rem;
    min-width: 250px;
    max-width: 16%;
    width: 100%;
    margin: 1rem;
    flex-basis: 16%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem 2.7rem 18rem 2rem;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}
.letter {
    font-size: 12rem;
    font-family: 'Notable', sans-serif;
    color: #ed7878;
}
button {
    margin-top: 8rem;
    height: 6rem;
    padding: 1em;
    background-color: #9f82d3;
    border-radius: 4px;
    max-width: 6rem;
    margin-right: 2rem;
}
.button-container {
    display: block;
    position: fixed;
    margin-top: 14rem;
    margin-left: 2.5rem;

}